{% extends 'base.html.twig' %}

{% block title %}Gestion des fiches de Frais{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    .example-wrapperr { margin: 1em auto; max-width: 600px; width: 85%; font: 18px/1.11 sans-serif; }
    .example-wrapperr code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper text-center">
    <img src="image/logo-gsb.png" alt="logo"></img>
</div>

{#
<form>
  <div class="form-group">
    <label for="libelle">Nom fiche de frais</label>
    <input class="form-control" id="libelle" placeholder="Enter label">
  </div>
  <div class="form-group">
    <label for="dateDebut">Date début fiche de frais</label>
    <input class="form-control" id="dateDebut" placeholder="Enter date">
  </div>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>
#}

<div class="example-wrapperr">
    {{form_start(formulaire)}}
    </br>
    <label for="libelle">Nom fiche de frais</label>
    {{form_widget(formulaire.libelle)}}
    </br>
    <label for="dateDebut">Date début fiche de frais</label> 
    {{form_widget(formulaire.datedebut)}}
        <button type="submit" class="btn btn-dark">Valider</button>
    {{form_end(formulaire)}}
    
</div>

{% endblock %}